.ibody{
	background: #fff none repeat scroll 0 0;
    margin: 0 auto;
    max-width: 1300px;
}

header{
	margin-bottom: 80px;
    padding-bottom: 0;
    padding-top: 70px;
}
header .navbar{
	background: #fff none repeat scroll 0 0;
    border: none;
}
.icons{
	text-align: center;
}
